<div class="grid-container">
  <h1 class="mat-h1">Order</h1>
  <mat-card class="main-card">
    <mat-card-header>
      <mat-card-title> Make an order </mat-card-title>
      <mat-card-subtitle
        >Buy new stocks or sell ones from your wallet</mat-card-subtitle
      >
    </mat-card-header>
    {{ stock?.price }}
    <mat-card-content>
      <!-- <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of options" [value]="option">
          {{ option }}
        </mat-option>
      </mat-autocomplete> -->
      <div class="example-container">
        <mat-form-field appearance="fill">
          <mat-label>Input</mat-label>
          <input matInput />
        </mat-form-field>
        <br />
        <mat-form-field appearance="fill">
          <mat-label>Select</mat-label>
          <mat-select>
            <mat-option value="option">Option</mat-option>
          </mat-select>
        </mat-form-field>
        <br />
        <mat-form-field appearance="fill">
          <mat-label>Textarea</mat-label>
          <textarea matInput></textarea>
        </mat-form-field>
      </div>
    </mat-card-content>
  </mat-card>
</div>
