.price {
  text-align: center;
  font-size: large;
}

.logo {
  width: 48px;
  height: 48px;
}

.stock-card {
  width: 200px;
  height: 200px;
}

mat-card {
  display: flex;
  flex-direction: column;
}

mat-card-header {
  flex-shrink: 0;
}

mat-card-content {
  flex-grow: 1;
  overflow: auto;
}
