.google-button {
  max-width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.icon {
  height: 24px;
  width: 24px;
  margin-right: 10px;
}

.login-button {
  margin-bottom: 1em;
}
